html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50000;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  width: 100%; /* Example width */
  background-color: #9bc3e8;
}

.header {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* This will space out your cards nicely */
  align-items: stretch; /* This will make sure that all cards stretch to the same height */
  gap: 20px; /* This adds space between the cards */
}

.card {
  color: black; 
  padding: 20px; 
  border-radius: 20px; 
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12); 
  display: flex; /* Use flexbox for layout */
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: space-between; 
  width: 300px; 
  height: 400px; 
  overflow: hidden; 
  text-align: left; 
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03); /* Slightly enlarge the card on hover */
}




